body{
    display: grid;
    grid-template-columns: 350px 1fr;
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: #93c5fd;
    color: white;
    min-height: 100vh;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #dbeafe;
    height: 275px;
    padding: 20px 100px 0px;
}

.main{
    background-color: #eff6ff;
    height: 100%;
}

.upper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar > form > input{
    border-style: none;
    border-radius: 50px;
    height: 60px;
    width: 950px;
    font-size: 2rem;
    padding-left: 20px;
}

button{
    border-style: none;
    height: 60px;
    width: 150px;
    border-radius: 50px;
}

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects{
    padding-left: 50px;
}

.cards{
    display: grid;
    grid-template-columns: 750px 750px;
    gap: 45px;
}

.card{
    display: grid;
    grid-template-rows: 30px;
    background-color: #e1eefa;
    border-radius: 15px;
    padding: 3rem;
}

.card > p{
    font-size: 1.3em;
    padding-right: 100px;
}