body{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: blue;
    color: white;
    height: 100vh;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: aqua;
    height: 20%;
}

.main{
    background-color: brown;
    height: 100%;
}

.header > form > input{
    border-style: none;
    border-radius: 50px;
    height: 60px;
    width: 950px;
    font-size: 2rem;
    padding-left: 20px;
}