body{
    display: grid;
    grid-template-columns: 15% 85%;
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: #93c5fd;
    color: white;
    height: 100vh;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #dbeafe;
    height: 275px;
    padding: 20px 100px 0px;
}

.main{
    background-color: #eff6ff;
    height: 100%;
}

.upper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar > form > input{
    border-style: none;
    border-radius: 50px;
    height: 60px;
    width: 950px;
    font-size: 2rem;
    padding-left: 20px;
}

button{
    border-style: none;
    height: 60px;
    width: 150px;
    border-radius: 50px;
}